<%# app/views/layouts/application.html.erb %>
<!DOCTYPE html>
<html>
<head>
  <title>StoreScanner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#111318">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="manifest" href="/manifest.json">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <div class="page">
    <% if notice %>
      <div class="toast" id="flash-toast"><%= notice %></div>
      <script>setTimeout(()=>document.getElementById('flash-toast')?.remove(), 2500)</script>
    <% end %>
    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
  <script>if('serviceWorker' in navigator) navigator.serviceWorker.register('/service-worker.js')</script>
</body>
</html>